<?xml version="1.0"?>
<config>
    <modules>
        <Aristos_Test>
            <version>1.0.0</version>
        </Aristos_Test>
    </modules>
    <global>
        <blocks>
            <test>
                <class>Aristos_Test_Block</class>
            </test>
        </blocks>
        <models>
            <test>
                <class>Aristos_Test_Model</class>
                <resourceModel>test_resource</resourceModel>
            </test>
            <test_resource>
                <class>Aristos_Test_Model_Resource</class>
                <entities>
                    <block>
                        <table>aristos_test</table>
                    </block>
                </entities>
            </test_resource>
        </models>
        <resources>
            <test_setup>
                <setup>
                    <module>Aristos_Test</module>
                </setup>
            </test_setup>
        </resources>
        <helpers>
            <test>
                <class>Aristos_Test_Helper</class>
            </test>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <test module="test">
                    <file>test.xml</file>
                </test>
            </updates>
        </layout>
        <routers>
            <test>
                <use>standard</use>
                <args>
                    <module>Aristos_Test</module>
                    <frontName>aristos</frontName>
                </args>
            </test>
        </routers>
        <translate>
            <modules>
                <Aristos_Test>
                    <files>
                        <default>Aristos_Test.csv</default>
                    </files>
                </Aristos_Test>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <test before="Mage Adminhtml">Aristos_Test_Adminhtml</test>
                    </modules>
                </args>
            </adminhtml>
        </routers>

    </admin>
    <default>
        <test>
            <settings>
                <enabled>1</enabled>
            </settings>
        </test>
    </default>
</config>